.answer {
  position: relative;
  border: 1px dotted #ccc;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
    z-index: 1000;
    color: #ccc;
    font-weight: bold;
  }

  .overlay.hide {
  }

  .given {
    min-width: 100px;
  }

  .input-group-prepend {

    .input-group-text {
      padding: 0;
    }

    select {
      background-color: transparent;
      border: transparent;
      margin: 1px;
    }
  }
}
