@import "modules/variables";

.app-card {

  background-color: $grey;

  .upper {
    border-bottom: 1px solid #fff;
    font-size: 1.1rem;
  }

  .lower {
    border-top: 1px solid #ddd;

    .answer.placeholder {
      height: 50px;
    }
  }

  .footer {

  }
}
