<div class="app-card w-100">
  <div class="upper p-4">
    {{ question.eng }}
  </div>
  <div class="lower p-4 pb-2">
    <format-input [format]="question" [(ngModel)]="answersRaw" (ngModelChange)="answersUpdated($event)"></format-input>
    <div class="mt-4">
      <div *ngFor="let q of question.configs">
        <app-answer [question]="q" [answer]="answers[q.contextual]"></app-answer>
      </div>
    </div>
  </div>
  <div class="footer text-right px-4 pb-4">
    <button class="btn btn-primary btn-sm mr-2" (click)="revealAnswers()">Reveal</button>
    <button class="btn btn-primary btn-sm" [disabled]="!checkAllDone()" (click)="next()">Next</button>
  </div>
</div>
