$gender-masculine: #00f !default;
$gender-feminine: #f0f !default;
$gender-neutral: #333 !default;

.format-input {
  font-family: monospace;
  font-size : 1.2em;
  white-space: pre;

  .format {

    .text, .editable {
      color: $gender-neutral
    }

    .editable {
      display: inline-block;
      border-bottom: 1px dashed #ccc;
    }

    .editable.gender-masculine {
      color: $gender-masculine;
    }

    .editable.gender-feminine {
      color: $gender-feminine;
    }

    .editable:empty::before {
      color: #ccc;
      content: attr(title);
    }

    .editable:active, .editable:focus {
      outline: none;
    }
  }
}
